aiocqhttp==1.4.3
APScheduler==3.9.1
beautifulsoup4==4.11.1
PyMySQL==1.0.2
requests==2.26.0
selenium==4.3.0
SQLAlchemy==1.4.22
nonebot-adapter-cqhttp==2.0.0a16
nonebot-plugin-apscheduler==0.1.2
nonebot2==2.0.0a16
lxml==4.6.3